# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

target/
lib_managed/
src_managed/
project/boot/
.history
.cache

# AIML datasets
# http://www.alicebot.org/downloads/sets.html

aiml/

# Typesafe activator stuff
.sbtserver/
project/target/
project/project/
project/.sbtserver
project/.sbtserver.lock
project/sbt-ui.sbt


# debug files
bot.db
